<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center mx-2 my-1 pb-1 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="https://static.thenounproject.com/png/1208316-200.png" alt="..." width="50">
            <h3>&numsp;Task scheduler</h3>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/tasks">Tasks</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/profile">Profile</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">About</a>
            <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a>
        </nav>
    </div>
</div>